<div class="relative flex-none overflow-hidden rounded-2xl">
  <div
    class="absolute z-10 flex h-full w-[300px] items-center bg-gradient-to-r from-black via-black to-transparent pl-8 text-5xl text-white"
  >
    <%= movie.title || movie.name %>
  </div>
  <div class="img-container relative h-full">
    <img
      class="absolute bottom-0 left-0 z-30 m-8 h-20 w-20 cursor-pointer transition hover:scale-105"
      src="/heart-solid.svg"
      data-movie-id="<%= movie.id %>"
      data-title="<%= movie.title || movie.name %>"
      onclick="addToFavorites(event)"
    />
    <img
      class="aspect-video w-full object-cover pl-[150px]"
      src="https://image.tmdb.org/t/p/w780<%= movie.poster_path %>"
    />
  </div>
</div>
