<header>
  <nav class="flex h-24 items-center justify-between px-8">
    <div class="text-4xl">Movie App</div>
    <ul class="title flex items-center gap-4">
      <li><a href="/auth/login">Login</a></li>
      <li><a href="/auth/signup">Signup</a></li>
      <li><a href="/auth/logout">Logout</a></li>
      <li><%- username %></li>
    </ul>
  </nav>
</header>
