<header>
  <nav class="flex h-24 items-center justify-between px-8">
    <div class="text-4xl">Movie App</div>
    <ul class="flex items-center gap-4 text-lg font-semibold">
      <li><%- username %></li>
      <li><a href="/auth/logout">Logout</a></li>
    </ul>
  </nav>
</header>
