<div class="w-[200px] flex-none overflow-hidden rounded-2xl">
  <div class="relative aspect-[2/3]">
    <img
      class="absolute bottom-0 right-0 z-30 m-4 h-16 w-16 cursor-pointer transition hover:scale-105"
      src="/heart-solid.svg"
      data-movie-id="<%= movie.id %>"
      data-title="<%= movie.title || movie.name %>"
      onclick="addToFavorites(event)"
    />
    <img
      class="h-full w-full object-cover"
      src="https://image.tmdb.org/t/p/w500<%= movie.poster_path %>"
    />
  </div>
  <h3 class="truncate text-center text-xl"><%= movie.title || movie.name %></h3>
</div>
